1. What are data structures, and why are they important?
- Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They are important because they allow programmers to organize data in ways that make it easier to perform specific operations (like searching, sorting, or inserting data) efficiently.

# 2

Explain the difference between mutable and immutable data types with examples.
- Mutable data types can be changed after creation (e.g., lists, dictionaries, sets).
- Example:

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 10  # Lists can be changed
my_list

[10, 2, 3]

In [ ]:
#Immutable data types cannot be changed after creation (e.g., strings, tuples).

my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # This will raise an error because tuples are immutable

# 3

 What are the main differences between lists and tuples in Python?

- Lists are mutable, meaning you can change their content (e.g., add or remove elements).
- Tuples are immutable, meaning once created, their content cannot be modified.
- Use case difference: Use a list when you need to change the content, and a - tuple when you need to ensure the data cannot be changed.

# 4

Describe how dictionaries store data.
- Dictionaries store data in key-value pairs. Each key is unique, and it maps to a specific value.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}

# 5

Why might you use a set instead of a list in Python?
- A set is used when you want to store unique values and do not care about the order of the elements.
- Sets automatically eliminate duplicates, unlike lists.

# 6

What is a string in Python, and how is it different from a list?
- A string is a sequence of characters (e.g., "hello").
- Difference: A string is immutable (cannot be changed after creation), while a - list is mutable (its elements can be modified).

# 7

How do tuples ensure data integrity in Python?
- Tuples are immutable, which means once created, their elements cannot be changed. This ensures that the data remains consistent and unaltered throughout the program.

# 8

What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python are implemented using hash tables, where each key is hashed to an index where its value is stored, allowing fast access.

# 9

Can lists contain different data types in Python?
- Yes, lists can contain elements of different data types, such as integers, strings, and even other lists.

my_list = [1, "apple", [2, 3]]

# 10

 Explain why strings are immutable in Python.
- Strings are immutable to protect against accidental changes. This allows Python to optimize memory and performance by reusing string objects and ensures that strings cannot be altered once created.

# 11

 What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries provide fast lookups for data based on keys, while lists require searching through each element. Dictionaries are more efficient when you need to access or modify data by a unique identifier.

# 12

 Describe a scenario where using a tuple would be preferable over a list.
- Tuples are preferable when the data is meant to be constant and should not be modified, like representing coordinates (x, y) or storing fixed configuration settings.

# 13

How do sets handle duplicate values in Python?
- Sets automatically remove any duplicate values. If you try to add a duplicate, it will not appear in the set.

# 14

 How does the “in” keyword work differently for lists and dictionaries?
- For lists, the in keyword checks if an element exists in the list.
- Example:

- 2 in [1, 2, 3]  # Returns True
- For dictionaries, the in keyword checks if a key exists in the dictionary.

- 'name' in {'name': 'Alice'}  # Returns True

# 15

Can you modify the elements of a tuple? Explain why or why not.
- No, tuples are immutable, meaning you cannot change, add, or remove elements once they are created.

# 16

What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where the value of a key is another dictionary.
- Example:

my_dict = {'person': {'name': 'Alice', 'age': 30}}
- Use case: Storing hierarchical data, like user profiles, where each user has nested details.

# 17

 Describe the time complexity of accessing elements in a dictionary.
- Accessing an element in a dictionary by key is typically O(1), meaning it is a constant time operation.

# 18

In what situations are lists preferred over dictionaries?
- Lists are preferred when you need to maintain an ordered collection of items, and the order is important (e.g., a list of names in sequence).

# 19

Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are unordered because the keys do not have a guaranteed order. However, they still provide efficient access to values based on keys, unlike lists, which use indices.

# 20

Explain the difference between a list and a dictionary in terms of data retrieval.
- In a list, you retrieve data using an index (position).
- Example: my_list[2]
- In a dictionary, you retrieve data using a key.
-  Example: my_dict['name']
- Each of these data structures has specific use cases and helps with different tasks in Python programming!

## 1. Create a string with your name and print it

In [6]:
name = "Mohammed Nazar"
print(name)

Mohammed Nazar

## 2. Find the length of the string "Hello World"

In [7]:
text = "Hello World"
length = len(text)
print(length)

11

## 3. Slice the first 3 characters from the string "Python Programming"

In [8]:
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

## 4. Convert the string "hello" to uppercase

In [9]:
text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

## 5. Replace the word "apple" with "orange" in the string "I like apple"

In [10]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

## 6. Create a list with numbers 1 to 5 and print it

In [11]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

## 7. Append the number 10 to the list [1, 2, 3, 4]

In [12]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

## 8. Remove the number 3 from the list [1, 2, 3, 4, 5]

In [13]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

## 9. Access the second element in the list ['a', 'b', 'c', 'd']

In [14]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

## 10. Reverse the list [10, 20, 30, 40, 50]

In [15]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

## 11. Create a tuple with the elements 10, 20, 30 and print it

In [16]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

## 12. Access the first element of the tuple ('apple', 'banana', 'cherry')

In [17]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

## 13. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [18]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

## 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [19]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

## 15. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [20]:
my_tuple = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)

True

## 16. Create a set with the elements 1, 2, 3, 4, 5 and print it

In [21]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

## 17. Add the element 6 to the set {1, 2, 3, 4}

In [22]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

## 18. Create a tuple with the elements 10, 20, 30 and print it

In [23]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

## 19. Access the first element of the tuple ('apple', 'banana', 'cherry')

In [24]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

## 20. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [25]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

## 21. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [26]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

## 22. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [27]:
my_tuple = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)

True

## 23. Create a set with the elements 1, 2, 3, 4, 5 and print it

In [28]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

## 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [29]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}